<div class="md:col-span-4 bg-blue_1 dark:blue_2 dark:text-light_1 rounded-lg m-7 p-3">
    <div class="flex justify-between items-center">
        <h2 class="text-2xl">Baked Blessings</h2>
        <p class="view-site-btn cursor-pointer btn bg-yellow_1 text-dark_1" site-name="bakedblessings_site">View Site</p>
    </div>
    <div class="flex flex-col gap-3 text-black">
        <p>
            As the creator of the website, I am proud to have built a platform for my wife's passion for baking. Using my knowledge of Python with Flask and a MySQL database, I have created a website that showcases her love for using Sourdough starter as the key ingredient in her homemade baked goods. With her busy schedule as a full-time wife and homeschool mom, she understands the need for homemade baked goods and the joy they bring to families. Through her little side hustle, she is able to provide her community with homemade baked goods that are both delicious and healthy. The use of Sourdough starter allows her to bake with wheat flour, while still providing gluten-intolerant individuals with baked goods they can enjoy without worry. It brings me joy to see her passion and talent come to life on this website, and I am excited to see where this little side hustle takes her in the future.
        </p>
    </div>
</div>
<div class="hidden flex flex-col items-center justify-center col-span-7" id="bakedblessings_site">
    <div class="flex justify-center gap-3 h-full w-full my-3">
        <div class="p-3 hover:bg-blue_2 duration-300 hover:border-b-4 hover:border-yellow_1 bg-blue_1 dark:bg_blue_2 text-center rounded-lg cursor-pointer size-btn" view-name="bakedblessings" view-size="computer">
            <i class="fa-solid fa-computer text-xl"></i>
            <p class="text-xs">Computer</p>
        </div>
        <div class="p-3 hover:bg-blue_2 duration-300 hover:border-b-4 hover:border-yellow_1 bg-blue_1 dark:bg_blue_2 text-center rounded-lg cursor-pointer size-btn" view-name="bakedblessings" view-size="laptop">
            <i class="fa-solid fa-laptop text-xl"></i>
            <p class="text-xs">Laptop</p>
        </div>
        <div class="p-3 hover:bg-blue_2 duration-300 hover:border-b-4 hover:border-yellow_1 bg-blue_1 dark:bg_blue_2 text-center rounded-lg cursor-pointer size-btn" view-name="bakedblessings" view-size="tablet">
            <i class="fa-solid fa-tablet text-xl"></i>
            <p class="text-xs">Tablet</p>
        </div>
        <div class="p-3 hover:bg-blue_2 duration-300 hover:border-b-4 hover:border-yellow_1 bg-blue_1 dark:bg_blue_2 text-center rounded-lg cursor-pointer size-btn" view-name="bakedblessings" view-size="phone">
            <i class="fa-solid fa-mobile text-xl"></i>
            <p class="text-xs">Phone</p>
        </div>
    </div>
    <div class=" p-7 border-2 border-b-4 border-dark_1 dark:border-yellow_1 rounded-lg mx-3 bg-dark_1 duration-300 h-full min-h-[40em] w-5/6 " id="bakedblessings">
        <div class="bg-white rounded-lg p-1 h-ful min-h-[40em]">
            <iframe src="https://bakedblessings.herokuapp.com/" class="min-h-[40em] h-full w-full"></iframe>
        </div>
    </div>
</div>