<div class="md:col-span-4 bg-blue_1 dark:blue_2 dark:text-light_1 rounded-lg m-7 p-3">
    <div class="flex items-center justify-between">
        <h2 class="text-2xl">Okandogs</h2>
        <p class="view-site-btn cursor-pointer btn text-black bg-yellow_1" site-name="okandogs_site">View Site</p>
    </div>
    <div class="flex flex-col gap-3 text-black">
        <p>
            As a night job, I work a couple of times a week at a local business called Okandogs . While there, I
            noticed that their website was outdated and lacked the modern features that could help improve their
            online presence. I
            thought that building them a mock website would be a great way to showcase my skills and potentially
            help their business. So, in my free time, I created a website for them with all the latest features and
            design elements. However, after presenting it to the business owners, they decided not to use it, which
            was disappointing. Nonetheless, I am proud of the effort and time that I put into the project, and it
            was a great opportunity to practice my web development skills.
        </p>
        <p>
            Okandogs, a non-profit organization located in Cashmere, Washington, was established by Jan and Tom
            Short in 2014. Their mission is to provide medical care, spay/neuter services, and adoptions for dogs in
            need across the state, with a commitment to achieving a 100% adoption rate and zero euthanasia/fatality
            rate. The shelter has taken in and rescued hundreds of dogs, earning a positive reputation within the
            local community. Last year, Okandogs took in 801 dogs. One of the organization's success stories is
            Tucker, a four-year-old Labrador-Retriever mix who was surrendered by his owner earlier this year.
            Okandogs provided him with medical care, and just a few months later, Tucker was adopted by Major League
            Baseball's Seattle Mariners franchise as its clubhouse pet, a heartwarming example of Okandogs'
            dedication to giving dogs a second chance at life and finding them loving forever homes.
        </p>
    </div>
</div>
<div class="hidden flex flex-col items-center justify-center col-span-7" id="okandogs_site">
    <div class="flex justify-center gap-3 h-full w-full my-3">
        <div class="p-3 hover:bg-blue_2 duration-300 hover:border-b-4 hover:border-yellow_1 bg-blue_1 dark:bg_blue_2 text-center rounded-lg cursor-pointer size-btn" view-name="okandogs" view-size="computer">
            <i class="fa-solid fa-computer text-xl"></i>
            <p class="text-xs">Computer</p>
        </div>
        <div class="p-3 hover:bg-blue_2 duration-300 hover:border-b-4 hover:border-yellow_1 bg-blue_1 dark:bg_blue_2 text-center rounded-lg cursor-pointer size-btn" view-name="okandogs" view-size="laptop">
            <i class="fa-solid fa-laptop text-xl"></i>
            <p class="text-xs">Laptop</p>
        </div>
        <div class="p-3 hover:bg-blue_2 duration-300 hover:border-b-4 hover:border-yellow_1 bg-blue_1 dark:bg_blue_2 text-center rounded-lg cursor-pointer size-btn" view-name="okandogs" view-size="tablet">
            <i class="fa-solid fa-tablet text-xl"></i>
            <p class="text-xs">Tablet</p>
        </div>
        <div class="p-3 hover:bg-blue_2 duration-300 hover:border-b-4 hover:border-yellow_1 bg-blue_1 dark:bg_blue_2 text-center rounded-lg cursor-pointer size-btn" view-name="okandogs" view-size="phone">
            <i class="fa-solid fa-mobile text-xl"></i>
            <p class="text-xs">Phone</p>
        </div>
    </div>
    <div class=" p-7 border-2 border-b-4 border-dark_1 dark:border-yellow_1 rounded-lg mx-3 bg-dark_1 duration-300 h-full min-h-[40em] w-5/6 " id="okandogs">
        <div class="bg-white rounded-lg p-1 h-ful min-h-[40em]">
            <iframe src="https://tylerthibault.github.io/okandogs/" class="min-h-[40em] h-full w-full"></iframe>
        </div>
    </div>
</div>