<div class="bg-blue_1 dark:bg-blue_2 duration-500 transition-colors w-full border-b-4 border-dark_1 dark:border-blue_1 rounded-2xl p-7 m-auto mb-0">
    <h2 class="text-xl font-bold mb-3 uppercase">Languages I can teach</h2>
    <div class="grid lg:grid-cols-3 gap-3 text-xs">
        <div class="bg-light_1 dark:bg-blue_1 rounded-lg border-b-4 border-dark_1 dark:border-yellow_1 p-3">
            <p class="font-bold text-lg">Python</p>
            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fugiat non iusto quibusdam molestiae aut neque in fuga laudantium corrupti!</p>
        </div>
        <div class="bg-light_1 dark:bg-blue_1 rounded-lg border-b-4 border-dark_1 dark:border-yellow_1 p-3">
            <p class="font-bold text-lg">JavaScript</p>
            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fugiat non iusto quibusdam molestiae aut neque in fuga laudantium corrupti!</p>
        </div>
        <div class="bg-light_1 dark:bg-blue_1 rounded-lg border-b-4 border-dark_1 dark:border-yellow_1 p-3">
            <p class="font-bold text-lg">C#</p>
            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fugiat non iusto quibusdam molestiae aut neque in fuga laudantium corrupti!</p>
        </div>
    </div>
</div>