<ul class="bg-yellow_1 rounded-full flex gap-3 px-3 py-1 text-2xl">
    <li><a class="hover:text-white" href="#"><i class="fa-sharp fa-solid fa-person" aria-hidden="true"></i><span class="sr-only">About Me</span></a></li>
    <li><a class="hover:text-white" href="#"><i class="fa-solid fa-laptop" aria-hidden="true"></i><span class="sr-only">technologies</span></a></li>
    <li><a class="hover:text-white" href="#"><i class="fa-solid fa-briefcase" aria-hidden="true"></i><span class="sr-only">Work</span></a></li>
    <li><a class="hover:text-white" href="#"><i class="fa-solid fa-school" aria-hidden="true"></i><span class="sr-only">Education</span></a></li>
</ul>