<div class="z-10">
    <div class="flex justify-center mb-5">
        <h2 class="uppercase font-bold text-4xl dark:text-light_1">Technologies</h2>
    </div>
    <div class="w-full flex justify-evenly">
        <div
            class="p-3 rounded-lg bg-light_1 dark:bg-blue_2 border-b-4 border-dark_1 dark:border-yellow_1 dark:text-light_1">
            <h3 class="font-bold underline text-xl text-center dark:text-yellow_1">Databases</h3>
            <div>
                <ul>
                    <li>MySQL</li>
                    <li>MongoDB</li>
                    <li>Firebase</li>
                    <li>Sqlite</li>
                </ul>
            </div>
        </div>
        <div
            class="p-3 rounded-lg bg-light_1 dark:bg-blue_2 border-b-4 border-dark_1 dark:border-yellow_1 dark:text-light_1">
            <h3 class="font-bold underline text-xl text-center dark:text-yellow_1">Languages</h3>
            <div>
                <ul>
                    <li>JavaScript</li>
                    <li>Python</li>
                    <li>HTML 5</li>
                    <li>CSS</li>
                    <li>C#</li>
                    <li>MySQL</li>
                </ul>
            </div>
        </div>
        <div
            class="p-3 rounded-lg bg-light_1 dark:bg-blue_2 border-b-4 border-dark_1 dark:border-yellow_1 dark:text-light_1">
            <h3 class="font-bold underline text-xl text-center dark:text-yellow_1">Frameworks</h3>
            <div class="flex gap-7">
                <ul>
                    <li>Express</li>
                    <li>Flask</li>
                    <li>Jinja2</li>
                    <li>Jquery</li>
                    <li>Entity</li>
                    <li>ASP.NET</li>
                </ul>
                <ul>
                    <li>Sequelize</li>
                    <li>Bootstrap</li>
                    <li>Taiolwindcss</li>
                    <li>Materializecss</li>
                    <li>Skeletoncss</li>
                </ul>
            </div>
        </div>
        <div
            class="p-3 rounded-lg bg-light_1 dark:bg-blue_2 border-b-4 border-dark_1 dark:border-yellow_1 dark:text-light_1">
            <h3 class="font-bold underline text-xl text-center dark:text-yellow_1">Tools</h3>
            <div>
                <ul>
                    <li>AJAX</li>
                    <li>MySQL Workbench</li>
                    <li>Postman</li>
                    <li>VS Code</li>
                    <li>AWS</li>
                    <li>Github</li>
                    <li>Prisma</li>
                </ul>
            </div>
        </div>
    </div>
</div>